<% provide(:title, 'Leeds Attractions | Site Admin') %>
<%= render 'attractions/attractions' %>
<div id="users_categories_list">
    <%= render 'users/users' %>
    <%= render 'categories/categories' %>
</div>
