/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation/components/buttons";
@import "foundation/components/breadcrumbs";

html {
	margin:0; /* resets */
	padding:0;
	height: 100%;
}

body {
  max-width: 960px;
  height: 100%;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: baseline;
}

#wrapper {
	max-width: 960px;
	min-width: 300px;
	overflow: hidden;
  min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px; /* the bottom margin is the negative value of the footer's height */
}

div {
	display: block;
}

#top_bar {
  text-align: center;
  h1 {
    text-align: left;
  }
  .dropdown li {
    border-bottom: 1px solid;
    border-color: #777;
    text-align: left;
    #c_menu {
      float: left;
    }
  }
}

.breadcrumb_nav {
  @include crumb-container;
  border: none;
  background: none;
  margin-bottom: 0.8rem;
  line-height: 1;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 0.1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
  li {
    @include crumbs;
  }
}

#flashSession {
  width: 100%;
  margin-top: 0.5%;
}

#flash {
  float: left;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 2%;
}
  
#sessionInfo {
  float: right;
  margin-right: 2%;
    p {
      float: right;
      margin-bottom: 5%;
    }
}

h1, h2, h3, h4, h5, h6, p {
  color: #777777;
}

#whatson, #popular, #otherbox {
  clear: none;
  ul {
    margin:0;
    li {
      list-style: none;
      #image {
        width: 50%;
        float: left;
        clear: both;
        margin-bottom: 2%;
      }
      #text {
        width: 45%;
        float: right;
      }
      #other_image  {
        width: 100%
      }
      #other_text {
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 5%;
      }
      #text, #other_text {
        h3 {
          line-height: 1;
          a {
            color: #777777;
          }
        }
      }
    }
  }
}

#otherbox {
  border: 1px solid;
  border-color: #2C79EE;
  padding-left: 5%;
  padding-right: 5%;
}

footer {
  height: 45px;
  background-color: #333;
  clear:both;
  ul {
    margin: 0;
    padding-top: 1%;
    li {
      list-style: none;
      display: inline;
      padding-left: 2%;
      a {
        color: #fff;
        font-size: 0.8em;
      }
      a:hover {
        color: #fff;
      }
    }
  }
}

footer, .push {
	height: 45px; /* .push must be the same height as .footer */
}

.long-button { 
  @include button($full-width: true);
}

.long-button-grey { 
  @include button($full-width: true);
  background-color: #777;
}

.long-button-grey:hover {
  background-color: #555;
}

#grouplist {
  margin-bottom: 5%;
}

#searchbox {
  border: 1px solid;
  border-color: #F34008;
  padding-left: 5%;
  padding-right: 5%;
}

#signin_divide {
  padding-top: 20px;
  border-bottom: 1px solid;
  border-color: #777;
}

#or {
  text-align: center;
}

#title {
  text-align: center;
}

#back_link {
  margin-bottom: 2%;
  border-bottom: 1px solid;
  border-color: #c2c2c2;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  padding-bottom: 0.6rem;
  a {
    font-size: 0.8rem;
  }
}

.h31 {
  color: #00ff99;
}

.h32 {
  color: #00ff4e;
}

.h33 {
  color: #66ff00;
}

.h34 {
  color: #ccff00;
}

.h35 {
  color: #ffcc00;
}

.h36 {
  color: #FFa000;
}

.h37 {
  color: #FF6e00;
}

.h38 {
  color: #FF3c00;
}

.h39 {
  color: #FF1e00;
}

.h310 {
  color: #FF0000;
}