// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#c_box {
  border: 1px solid;
  border-color: #2C79EE;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  ul {
    margin-left: 0;
    li {
      margin-bottom: 5%;
      list-style: none;
      clear: both;
      h3, h4 {
        line-height: 1;
      }
    }
  }
}

#c_a_image {
  margin-bottom: 5%;
  padding-left: 0%;
  padding-right: 0%;
}

#c_a_text {
  margin: 0%;
  padding-left: 3%;
  padding-right: 0%;
}

#c_a_rating a {
  color: inherit;
}
  
#list_rating a {
  color: #c2c2c2;
}

#list_summary a {
  color: #777;
}
