// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#review_list {
  list-style: none;
  margin-left: 0%;
  li {
    border-bottom: 1px solid;
    border-color: #c2c2c2;
    h4 {
      line-height: 0.7;
    }
  }
}

#review_list_controls {
  padding-left: 0%;
}

#more_link_container {
  float: right;
  padding: 4%;
}
    
#read_link {
  float: right;
  margin-right: 5%;
  a {
    text-decoration: underline;
  }
}