// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  clear: both;
}

#review_tally {
  margin-top: 5%;
}

#profile_header {
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: 1px solid;
  border-color: #c2c2c2;
}

#profile_box {
  margin-bottom: 15%;
}

#user_info {
  line-height: 0.7;
}

#change_password_link {
  float: right;
  h3 {
    line-height: 0.5;
  }
}