<div class="row">
  <div class="small-12 medium-4 small-centered columns">
    <h3 style="text-align: center"><%= @review.attraction.name %></h3>
    <h4 style="text-align: center">Edit review</h4>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', [@parent, @review] %> |
<%= link_to 'Back', polymorphic_path([@parent, @review]) %>
