<div class="row">
  <div class="small-12 medium-4 small-centered columns">
    <h3 style="text-align: center"><%= @review.attraction.name %></h3>
    <h4 style="text-align: center">Review</h4>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', attraction_reviews_path(@parent, @reviews) %>
